.resizeable {
  position: absolute;
}

.resizer {
  position: absolute;
}

.resizer-r {
  cursor: e-resize;
  height: 100%;
  top: 0;
  right: 0;
  width: 5px;
}

.resizer-l {
  cursor: w-resize;
  height: 100%;
  top: 0;
  left: 0;
  width: 5px;
}
