.resizeable {
  position: absolute;
  /* left: 0; */
  /* width: 100px; */
  /* border: 2px solid green;
  height: 100px;
  border-radius: 3px;
  display: flex;
  min-height: 15px;
  min-width: 15px;
  justify-content: center;
  align-items: center; */
}

.resizer {
  position: absolute;
  /* background-color: black; */
}

.resizer-r {
  cursor: e-resize;
  height: 100%;
  top: 0;
  right: 0;
  width: 5px;
}

.resizer-l {
  cursor: w-resize;
  height: 100%;
  top: 0;
  left: 0;
  width: 5px;
}
